@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">TLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla velit, aliquam sit amet libero eu, laoreet ornare turpis. Integer rutrum at eros a tincidunt. Integer dictum facilisis felis, at posuere erat gravida vel. Ut est dolor, rutrum a tellus eget, venenatis porta nisl. Suspendisse venenatis turpis eu quam gravida, nec dapibus sapien pharetra. Donec sit amet efficitur est, ut pharetra purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque et risus et tellus maximus aliquet. Mauris iaculis fringilla maximus. Mauris nunc urna, mattis sed dolor ut, mattis consequat libero. Ut a ipsum eu erat mattis rhoncus sed vitae leo. Nam sit amet arcu mollis, dictum enim at, varius ligula. Donec eu sollicitudin lacus. Praesent accumsan justo non nulla imperdiet vehicula a ut risus..</p>
    <hr class="my-4">
    <p>Aliquam erat volutpat. Phasellus quis efficitur est. Vestibulum a est accumsan, vestibulum ex ac, egestas massa. Aenean in mauris ac libero tristique aliquet. Mauris volutpat finibus turpis ultricies sodales. Donec finibus sem et lectus pretium.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
